<body class="tt">
    <app-loading [IsLoading]="IsLoading">
    </app-loading>
    <header>
        <label class="header_name"> حركة الخزائن </label>
        <button class="close-button btn btn-default" (click)="closeThisComponent()">X</button>
    </header>
    <section id="main-container">

        <div class="material-table">
            <div class="card">
                <p-table #dt1 [value]="dataMouvementCaisse" [globalFilterFields]="['designationAr', 'designationLt']"
                    selectionMode="single" [metaKeySelection]="false" [(selection)]="selectedTransfertCaisse"
                    dataKey="code"
                    [tableStyle]="{'min-width': '50rem', 'width': '100%' , 'padding': '1px 1px 1px 1px'}">

                    <ng-template pTemplate="caption" class="col-md-12">

                        <div class="flex-row-start flex-12">
                            <fieldset style="padding: 5px;" class="flex-row-start flex-12" >




                                <section class="flex-row-start flex-4" style=" border: 1px solid #80808040;  border-radius: 6px; padding: 5px 0px 10px 0px; ">

                                    <label class="control-label-titer flex-2"> الخزينة : </label>
                                    <div class="dop control-input flex-8">
                                        <p-dropdown name="caisseSorite" [filter]="true" appendTo="body" class="dropdown"
                                            [options]="listCaisseRslt" [(ngModel)]="selectedCaisse"
                                            [style]="{'width':'100%'}"
                                            (ngModelChange)="GelMouvmenetCaisseByCodeCaisse(this.selectedCaisse) "
                                            [autoDisplayFirst]="true" placeholder="&nbsp;" [required]="true"
                                            [lazy]="true" #caisseSorite="ngModel">
                                        </p-dropdown>
                                    </div>
                                </section>
                            <section class="flex-row-start flex-5" style="margin-right: 7px; border: 1px solid #80808040;  border-radius: 6px; padding: 10px ">
                                    <label class="control-label-titer flex-4"  style="max-width: 13%;" >البيان :</label>
                                    <span class="p-input-icon-left ml-auto flex-6">
                                        <input style="width: 200px;" pInputText class="recherche-value" [(ngModel)]="searchTerm"
                                            name="zone-recherche" type="text"
                                            (keyup.enter)="dt1.filterGlobal($any($event.target).value, 'contains')"
                                            placeholder="البيان ..." />
                                    </span>
                                    <button  style="margin: 3px 0px 0px 5px;" type="button" class="Bouton-rechercher btn  btn-default flex-4"
                                        data-original-title="Add"
                                        (click)="dt1.filterGlobal($any($event.target).value, 'contains')">
                                        <div class="bouton_style-2" style="margin: 0px 15px 0px 0px;">بحث</div>
                                        <mat-icon style="margin: 0px 15px 0px 0px;"
                                            class="search-icon">search</mat-icon>
                                    </button>
                                    <button style="margin: 3px 0px 0px 0px;" type="button" class="Bouton-rechercher btn  btn-default"
                                        data-original-title="Add" (click)="clear(dt1)"
                                        (click)="GelMouvmenetCaisseByCodeCaisse(this.selectedCaisse)">
                                        <div class="bouton_style-2">إعادة تعيين</div>
                                        <mat-icon class="search-icon">refresh</mat-icon>
                                    </button>
                                </section>
                                <section class="flex-row-start flex-3">
                                </section>
                            </fieldset>





                        </div>




                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr style="font-size: 16px !important;">

                            <th>الرمز</th>
                            <th> إلى خزينة</th>
                            <th> من خزينة</th>
                            <th> العملة</th>
                            <th> مدين</th>
                            <th> دائن</th>
                            <th> القيمة بالعملة</th>
                            <th> رقم المستند</th>
                            <th> التاريخ </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-domaine>
                        <tr>
                            <td style="font-size: 16px !important;">{{domaine.codeSaisie}}</td>
                            <td style="font-size: 16px !important;">{{domaine.caisseDTO.designationAr}}</td>
                            <td style="font-size: 16px !important;">{{domaine.designationCaisse}}</td>
                            <td style="font-size: 16px !important;">{{domaine.deviseDTO.designationAr}}</td>
                            <td style="font-size: 16px !important;">{{domaine.debit}}</td>
                            <td style="font-size: 16px !important;">{{domaine.credit}}</td>
                            <td style="font-size: 16px !important;">{{domaine.mntDevise}}</td>
                            <td style="font-size: 16px !important;">xx</td>
                            <td style="font-size: 16px !important;">{{domaine.dateCreate | date : "dd/MM/yyyy
                                HH:mm:ss"}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </section>
    <footer>footer
    </footer>
</body>