
 
#morris-bar-chart {
    -webkit-transition: all 2s; /* Safari */
    transition: all 2s;
  }
  
  #morris-table-left-div {
    /*height: 350px;
    overflow: hidden;*/
  }
  .header-row {
    padding: 0 18px;
  }
  .header-column { 
    display: inline-block;
    font-weight: 300;
    color: #555;
    /*border: 1px solid grey;*/
    padding: 0px;
    width: 24%;
    box-sizing: border-box; /*content-box|border-box|initial|inherit;*/
  }
  .list-group-column { 
    display: inline-block;
    font-weight: 300;
    color: #555;
    /*border: 1px solid grey;*/
    padding: 0px;
    width: 24%;
  }

  @media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 0 !important;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}