<div class="container">
    <div class="row text-center">
        <h2> يبانات</h2>
        <div id="menu-box">
            <div id="item" class="col-sm-6 col-md-3" data-backdrop="false" data-original-title="Add" data-toggle="modal"
                data-target="#Modal" (click)="onOpenModal('add')">
                <div class="container-block">
                    <!-- <button data-backdrop="false" type="button"
            class="Bouton-add-new1 btn  btn-default " data-original-title="Add"
            data-toggle="modal" data-target="#Modal" (click)="onOpenModal('add')">
            <div class="bouton_style-2">إضافة</div>
            <i class="fa-solid fa-plus add-icon" style=" font-size:18px ;padding-top:2px ;margin: 0px 10px 0px 0px;"></i>
        </button> -->
                    <div class="block2">
                        <span>قائمة دخول الأموال</span>
                        <p>قائمة دخول أموال...</p>
                    </div>
                    <div class="block1">
                        <i class="fa-solid fa-download"></i>
                    </div>
                </div>
            </div>


            <div id="item" class="col-sm-6 col-md-3 " [routerLink]="['/menu_recette/edition']">
                <div class="container-block ">
                    <div class="block1">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="block2 ">
                        <span>التحويلات بين الخزائن</span>

                        <p> التحويلات بين الخزائن...</p>
                    </div>



                </div>
            </div>



            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_achat/ordre_achat']">
                <div class="container-block">

                    <div class="block2">
                        <span> أرصدة الخزائن في تاريخ</span>

                        <p>أرصدة الخزائن في تاريخ..</p>
                    </div>
                    <div class="block1">
                        <i class="fa-solid fa-money-bill-transfer"></i>
                    </div>
                </div>
            </div>

            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_achat/bon_reception']">
                <div class="container-block">

                    <div class="block2">
                        <span>حركة الخزينة </span>
                        <p>حركة الخزينة ...</p>
                    </div>
                    <div class="block1">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_parametrage_matiere/taille']">
                <div class="container-block">

                    <div class="block2">
                        <span>الإيراد حسب نوع الإيراد</span>
                        <p>الإيراد حسب نوع الإيراد ...</p>
                    </div>
                    <div class="block1">
                        <i class="fa-solid fa-right-left"></i>
                    </div>
                </div>
            </div>
            <!-- <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_parametrage_matiere/grille_taille']">
              <div class="container-block">
                <div class="block1">
                  <i class="fa fa-tasks"></i>
                </div>
                <div class="block2">
                  <span>Grille Taille</span> 
                </div>
              </div>    
            </div> -->

        </div>
    </div>
</div>



<!-- modal primeNG ADD -->
<p-dialog id="Modal" header="Header" [scrollLeft]="true" [closeOnEscape]="true"
    [(visible)]="visibleModalAlimentationCaisse" data-backdrop="false" [modal]="true" styleClass="ModalEdition"
    [draggable]="false"> 
    <ng-template pTemplate="header">
        <h2 class="text-default headerForm"> {{formHeader}}</h2> 
    </ng-template> 
    <div class="modal-body"> 
        <div class="flex-row-start flex-12">
            <fieldset class="flex-12"> 
                <div class="flex-row-start flex-12">
                    <section class="flex-row-start flex-6">
                        <label class="control-label flex-3">من : </label>
                        <div class="control-input flex-5-45">
                            <p-calendar [(ngModel)]="dateDeb" [ngStyle]="{'width':'100%'}" [showButtonBar]="true" [readonlyInput]="true" appendTo="body" #calendar></p-calendar>
    
                        </div>
                    </section>
                    <section class="flex-row-start flex-6">
                        <label class="control-label flex-3">  إلى : </label>
                        <div class="control-input flex-5-45">
                            <p-calendar [(ngModel)]="dateFin" [ngStyle]="{'width':'100%'}" [showButtonBar]="true" [readonlyInput]="true" appendTo="body" #calendar></p-calendar>
    
                        </div>
                    </section>
    
                </div>
           

                <div class="flex-row-start flex-12">
                    <section class="flex-row-start flex-6">
                        <label class="control-label flex-3"> نوع الإيراد : <i
                                class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                        <div class="control-input flex-5-45">
                            <p-dropdown name="caisseAlimenter" [filter]="true" appendTo="body" class="dropdown"
                                [options]="listTypeRecette" [(ngModel)]="selectedTypeRectte" [showClear]="true"
                                [style]="{'width':'100%'}" [autoDisplayFirst]="true" placeholder="&nbsp;"
                                [required]="true" [lazy]="true" #caisseAlimenter="ngModel">
                            </p-dropdown>
                        </div>
                    </section>
                    <section class="flex-row-start flex-6">
                        <!-- <label class="control-label flex-3">الخزينة :<i
                                class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                        <div class="dop control-input flex-7">
                            <p-dropdown name="caisseAlimenter" [filter]="true" appendTo="body" class="dropdown"
                                [options]="listCaisseRslt" [(ngModel)]="selectedCaisse" [showClear]="true"
                                [style]="{'width':'100%'}" [autoDisplayFirst]="true" placeholder="&nbsp;"
                                [required]="true" [lazy]="true" #caisseAlimenter="ngModel">
                            </p-dropdown>
                        </div> -->
                    </section>
                </div>
            </fieldset>
        </div>
    </div>

    <ng-template pTemplate="footer" class="headerForm">
        <button class="btn btn-default save-add-ModalSmall" data-original-title="Print" data-toggle="modal" data-target="#ModalPrint" style="right: 480px;" (click)="onOpenModal('Print')" > <i
                class="fa-lg fa-fw fa fa-check icon-save"></i>
            طباعة
        </button>
        <button class="btn btn-default cancel-add-ModalSmall" (click)="closeForm()" style="right: 560px;"
            :closable="true" data-dismiss="modal"> <i class="fa-lg fa-fw fa fa-times  icon-fermer "></i>خروج
        </button>

    </ng-template>
</p-dialog>



 
<!-- modal primeNG Print -->
<!-- <p-dialog id="ModalPrint" header="Header" [scrollLeft]="true" [closeOnEscape]="true" [(visible)]="visibleModalPrint"
    data-backdrop="false" [modal]="true" styleClass="ModalPrint" [draggable]="false" [resizable]="false">
    <div>
        <ng-template pTemplate="header">
            <h2 class="text-default headerForm"> {{formHeader}}</h2>
            <button class="btn btn-default cancel-add-ModalSmall" :closable="true" data-dismiss="modal"
                (click)="closeForm()"> <i class="fa-lg fa-fw fa fa-times  icon-fermer "></i>خروج
            </button> 
            <p-toast key="toast1"></p-toast>
        </ng-template>
        <div class="modal-body">
            <div id="pdfContainer"></div> 
        </div> 
    </div>
</p-dialog> -->


<!-- modal primeNG ADD -->
<p-dialog id="ModalPrint" header="Header" [scrollLeft]="true" [closeOnEscape]="true"
    [(visible)]="visibleModalPrint" data-backdrop="false" [modal]="true" styleClass="ModalPrint"
    [draggable]="false"> 
    <ng-template pTemplate="header">
        <h2 class="text-default headerForm"> {{formHeader}}</h2> 
        <button class="btn btn-default cancel-add-ModalSmall" :closable="true" data-dismiss="modal"
                (click)="closeForm()"> <i class="fa-lg fa-fw fa fa-times  icon-fermer "></i>خروج
            </button> 
    </ng-template> 
    <div class="modal-body"> 
        <div id="pdfContainer"></div> 

    </div>

    <ng-template pTemplate="footer" class="headerForm">
        

    </ng-template>
</p-dialog>


