<nav class="menu" tabindex="0" *ngIf="VisibleNavBar">
    <div id="sibdebarnav" class="left open">



        <div class="logo-details"> 
            <img src="/assets/files/logo.ico" alt="image">
            <div class="logo_name" style="padding-right: 25px;">ManagmentRessource</div>
        </div>

        <ul id="act" class="nav-list scroll">
            <li routerLinkActive="active" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}
                class="has-subnav">
                <a [routerLink]="['/home']">
                    <i class="fa-solid fa-palette"></i>
                    <span class="links_name ">الإستقبال</span>
                </a>
                <span class="tooltip">الإستقبال</span>
            </li>
            <li routerLinkActive="active" (click)="onClick(2)" [ngClass]="{'active': tab2==='tab2'}" class="has-subnav">
                <a [routerLink]="['/menu_parametrage']">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">الإعدادات العامة</span>
                </a>
                <span class="tooltip">>الإعدادات العامة</span>
            </li>
            <li routerLinkActive="active" routerLinkActive="active" (click)="onClick(3)"
                [ngClass]="{'active': tab3==='tab3'}" class="has-subnav">
                <a [routerLink]="['/menu_recette']">
                    <i class="fa-solid fa-square-caret-down"></i>
                    <span class="links_name">الإيرادات</span>
                </a>
                <span class="tooltip"> الإيرادات</span>
            </li>
            <li routerLinkActive="active" class="graphs" (click)="onClick(4)" [ngClass]="{'active': tab4==='tab4'}">
                <a [routerLink]="['/menu_achat']">
                    <i class="fa-solid fa-square-caret-up"></i>
                    <span class="links_name">المصروفات</span>
                </a>
                <span class="tooltip">المصروفات</span>
            </li>
            <li routerLinkActive="active" (click)="onClick(5)" [ngClass]="{'active': tab5==='tab5'}">
                <a href="#">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <span class="links_name">الحسابات العامة</span>
                </a>
                <span class="tooltip">الحسابات العامة</span>
            </li>
            <li routerLinkActive="active" (click)="onClick(6)" [ngClass]="{'active': tab6==='tab6'}">
                <a [routerLink]="['/menu_parametrage_matiere']">
                    <i class="fa-solid fa-folder-tree"></i>
                    <span class="links_name">الترحيل</span>
                </a>
                <span class="tooltip">الترحيل</span>
            </li>
            <li routerLinkActive="active" (click)="onClick(7)" [ngClass]="{'active': tab7==='tab7'}">
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <span class="links_name">المستخدمين</span>
                </a>
                <span class="tooltip">المستخدمين</span>
            </li>
            <li routerLinkActive="active" (click)="onClick(8)" [ngClass]="{'active': tab8==='tab8'}">
                <a href="#">
                    <i class="bx bx-folder"></i>
                    <span class="links_name">البيانات</span>
                </a>
                <span class="tooltip">البيانات</span>
            </li>
            <!-- <li routerLinkActive="active" (click)="onClick(9)" [ngClass]="{'active': tab9==='tab9'}">
                <a [routerLink]="['/menu_stock']">
                    <i class="bx bx-cart-alt"></i>
                    <span class="links_name">stocks</span>
                </a>
                <span class="tooltip">stocks</span>
            </li>
            <li routerLinkActive="active" (click)="onClick(10)" [ngClass]="{'active': tab10==='tab10'}">
                <a href="#">
                    <i class="bx bx-heart"></i>
                    <span class="links_name">Client & Fournisseur</span>
                </a>
                <span class="tooltip">Client Fournisseur</span>
            </li>
            <li routerLinkActive="active" (click)="onClick(11)" [ngClass]="{'active': tab11==='tab11'}">
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">Bon de commande</span>
                </a>
                <span class="tooltip">Bon de commande</span>
            </li>
            <li routerLinkActive="active" (click)="onClick(12)" [ngClass]="{'active': tab12==='tab12'}">
                <a [routerLink]="['/menu_depot_departement']">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">Gestion des entrepôts</span>
                </a>
                <span class="tooltip">Gestion des entrepôts</span>
            </li>

            <li routerLinkActive="active" (click)="onClick(13)" [ngClass]="{'active': tab13==='tab13'}">
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">Contrôle du transport</span>
                </a>
                <span class="tooltip">Contrôle du transport</span>
            </li>
            <li routerLinkActive="active" (click)="onClick(14)" [ngClass]="{'active': tab14==='tab14'}">
                <a [routerLink]="['/menu_mouvement']">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">Mouvement</span>
                </a>
                <span class="tooltip">Mouvement</span>
            </li>
            <li routerLinkActive="active" (click)="onClick(15)" [ngClass]="{'active': tab15==='tab15'}">
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">Inventaires & Retours</span>
                </a>
                <span class="tooltip">Inventaires et les retours</span>
            </li>
            <li routerLinkActive="active" (click)="onClick(16)" [ngClass]="{'active': tab16==='tab16'}">
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">Planification & Suivi</span>
                </a>
                <span class="tooltip">Planification & Suivi</span>
            </li>
            <li routerLinkActive="active" (click)="onClick(17)" [ngClass]="{'active': tab17==='tab17'}">
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">Jalonnement</span>
                </a>
                <span class="tooltip">Jalonnement</span>
            </li>
            <li routerLinkActive="active" (click)="onClick(18)" [ngClass]="{'active': tab18==='tab18'}">
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">Qualite</span>
                </a>
                <span class="tooltip">Qualite</span>
            </li>
            <li routerLinkActive="active" (click)="onClick(19)" [ngClass]="{'active': tab19==='tab19'}">
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">Securite</span>
                </a>
                <span class="tooltip">Securite</span>
            </li>
            <li routerLinkActive="active" (click)="onClick(20)" [ngClass]="{'active': tab20==='tab20'}">
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">Envirenement</span>
                </a>
                <span class="tooltip">Envirenement</span>
            </li>
            <li routerLinkActive="active" (click)="onClick(21)" [ngClass]="{'active': tab21==='tab21'}">
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">Hygienemt</span>
                </a>
                <span class="tooltip">Hygienemt</span>
            </li>
            <li routerLinkActive="active" (click)="onClick(22)" [ngClass]="{'active': tab22==='tab22'}">
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">GMAO</span>
                </a>
                <span class="tooltip">GMAO</span>
            </li>
            <li (click)="onClick(23)" [ngClass]="{'active': tab23==='tab23'}">
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">Comptabilité</span>
                </a>
                <span class="tooltip">Comptabilité</span>
            </li>
            <li routerLinkActive="active" (click)="onClick(24)" [ngClass]="{'active': tab24==='tab24'}">
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">Tresorerie</span>
                </a>
                <span class="tooltip">Tresorerie</span>
            </li> 

             
            <li routerLinkActive="active" (click)="onClick(25)" [ngClass]="{'active': tab25==='tab25'}">
                <a [routerLink]="['/menu_access']">
                    <i class="fa-solid fa-fingerprint"></i>
                    <span class="links_name">Access</span>
                </a>
            </li>-->
        </ul>

    </div>
</nav>



<script>
    let arrow = document.querySelectorAll(".arrow");

    arrow.forEach((btnArrow) => {
        btnArrow.addEventListener("click", () => {
            let arrowParent = btnArrow.parentElement.parentElement;
            arrowParent.classList.toggle("show-menu");
        });
    });

    let sidebar = document.querySelector(".sidebar");
    let bxMenu = document.querySelector(".bx-menu");
    console.log(bxMenu);

    bxMenu.addEventListener("click", () => {
        sidebar.classList.toggle("close");
    });

</script>